<!DOCTYPE html>
<html lang="hu">
<head>
    <title>Bejelentkezés - Miniport Stílus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /> 
    <link rel="stylesheet" href="assets/css/main.css" type="text/css" />
</head>
<body class="is-preload"> 

    <nav id="nav">
        </nav>

    <article id="top" class="wrapper style1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header>
                        <h1><strong>Bejelentkezés</strong></h1>
                    </header>
                    
                    <section class="box style1">
                        <form action="/login" method="POST">
                            
                            <label for="uname">Felhasználónév:</label>
                            <input type="text" name="uname" id="uname" required /><br>
    
                            <label for="pw">Jelszó:</label>
                            <input type="password" name="pw" id="pw" required /><br>
                            
                            <ul class="actions">
                                <li><button type="submit" class="button large">Belépés</button></li>
                            </ul>
                        </form>
                    </section>
                    
                    <footer>
                        <p>Nincs még fiókod? <a href="/register">Regisztrálj itt!</a></p>
                        <p><a href="/">Vissza a főoldalra</a></p>
                    </footer>
                </div>
            </div>
        </div>
    </article>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>